{% extends 'base.html' %}

{% block title %}Página Info{% endblock %}

{% block content %}

<h1 class="titulo-subir-archivos">Informacion<h1>
<p>Los parametros presentados para la realización del entrenamiento del modelo son los mas transcendetales a la hora de realizar el entrenamiento, pero hay otros tantos como la tasa de aprendizaje o el numero de neuronas de la ultima capa Fully Connect que pueden ser interesantes para el entrenamiento y que se pueden modificar a mano en el archivo <i>config.py</i> </p>

{% endblock %}



